body{

margin:0;
background:black;
color:white;
font-family:Arial;
direction:rtl;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#111;

}

nav a{

color:white;
text-decoration:none;
margin:10px;
font-weight:bold;

}

.logo{

font-size:32px;
color:#00ff88;
font-weight:bold;

}

.coins-box{

background:#00ff88;
color:black;
padding:10px 20px;
border-radius:15px;
font-weight:bold;

}

.hero{

text-align:center;
padding:100px 20px;

}

.hero h1{

font-size:60px;
color:#00ff88;

}

.hero p{

font-size:24px;

}

.hero-buttons button{

padding:15px 30px;
margin:10px;
border:none;
border-radius:15px;
background:#00ff88;
font-size:18px;
font-weight:bold;
cursor:pointer;

}

.hero-buttons button:hover{

transform:scale(1.05);

}
